@model IntegracionBancaria.Model.Views.Comentario

@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>

<p>Cualquier comentario o sugerencia por favor hacernoslo saber ingresando la siguente información:</p>

<div class="row">
    <div class="col-md-offset-2 col-md-6">

        @using (Html.BeginForm("ObtenerComentario", "Home", FormMethod.Post, new { @class = "contacto" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="nombre">Nombre</label>
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre", @id = "nombre" })
                @Html.ValidationMessageFor(model => model.Nombre, String.Empty,  new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="correo">Correo electrónico</label>
                @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", @placeholder = "Correo electrónico", @id = "correo" })
                @Html.ValidationMessageFor(model => model.Correo, String.Empty,  new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="comentario">Comentario</label>
                @Html.TextAreaFor(model => model.Texto, new { @class="form-control", @rows = 3, @id = "comentario" })
                @Html.ValidationMessageFor(model => model.Texto, String.Empty,  new { @class = "text-danger" })
            </div>

            <input type="submit" class="btn btn-primary" value="Enviar" />

        }
        </div>
        <span class="text-danger">@ViewData["error"]</span>
    </div>
</div>

@section CustomCss
{
    <style>
        .contacto > .form-group > input, textarea {
            max-width: 100%;
        }
    </style>
}