@model IntegracionBancaria.Model.Views.PagoViewModel

@{
    Layout = "../Shared/Layout-Sesion";
}

<h2>Pago de Servicios</h2>

@using (Html.BeginForm("PagarServicio", "Pagos", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Codigo, "Tipo de Servicio")
                @Html.DropDownListFor(model => model.Codigo, new SelectList(Model.Servicios, "Codigo", "Nombre"), "-- Seleccionar --", new { @class = "form-control", @id = "servicio-a-pagar", required = "required" })
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group">
                <label for="servicios">Servicio</label>
                <select id="servicios" class="form-control" data-val="true" name="servicios" required><option value="">-- Seleccionar --</option></select>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Codigo, "Banco para Pagar")
                @Html.DropDownListFor(model => model.Codigo, new SelectList(Model.Bancos, "Codigo", "Nombre"), "-- Seleccionar --", new { @class = "form-control", @id = "banco-para-pagar", @name = "banco-para-pagar", required = "required" })
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Codigo, "Tipo Documento")
                @Html.DropDownListFor(model => model.Codigo, new SelectList(Model.TipoDocumentos, "Codigo", "Nombre"), "-- Seleccionar --", new { @class = "form-control", @id = "documento-para-pagar", required = "required" })
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group">
                <label for="cuentas">Cuenta No.</label>
                <select id="cuentas" class="form-control" data-val="true" name="cuentas" required><option value="">-- Seleccionar --</option></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="form-group">
                <label for="monto">Monto</label>
                <input type="text" id="monto" name="monto" required/>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group">
                <label for="monto">Descripción</label>
                <input type="text" id="descripcion" name="descripcion" required/>
            </div>
        </div>    
    </div>

    <input id="search" class="btn btn-info" type="submit" value="Pagar">

    <table id="resumen-pago" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Q</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}

@section Scripts
{    
    <script>
        (function() {
            $('#servicio-a-pagar').on('click', function () {
                let codigoServicio = $(this).val();
                if (codigoServicio) {
                    $.getJSON('/ib/api/Mock/Usuarios/@Model.Usuario/Servicios/' + codigoServicio, function(servicios) {
                        var options = '<option value="">-- Seleccionar --</option>';
                        if (servicios) {
                            window.servicios = servicios;
                            servicios.forEach(function(servicio) {
                                options += '<option value="' + servicio['codigo'] + '">' + servicio['codigo'] + '</option>';
                            });
                        }
                        $('#servicios').html(options);
                    });
                } else {
                    $('#servicios').html('<option value="">-- Seleccionar --</option>');
                }
            });

            $('#documento-para-pagar').on('click', function () {
                let codigo = $(this).val();
                if (codigo === '1') {
                    if (codigo) {
                        $.getJSON('/ib/api/Mock/Usuarios/@Model.Usuario/Bancos/' + $('#banco-para-pagar').val() + '/Tarjetas', function(tarjetas) {
                            var options = '<option value="">-- Seleccionar --</option>';
                            if (tarjetas) {
                                window.tarjetas = tarjetas;
                                tarjetas.forEach(function(tarjeta) {
                                    options += '<option value="' + tarjeta['numero'] + '">' + tarjeta['numero'] + ' - ' + tarjeta['nombreCuenta'] + '</option>';
                                });
                            }
                            $('#cuentas').html(options);
                        });
                    } else {
                        $('#cuentas').html('<option value="">-- Seleccionar --</option>');
                    }
                } else if (codigo === '2') {
                    if (codigo) {
                        $.getJSON('/ib/api/Mock/Usuarios/@Model.Usuario/Bancos/' + $('#banco-para-pagar').val() + '/Cuentas', function(cuentas) {
                            var options = '<option value="">-- Seleccionar --</option>';
                            if (cuentas) {
                                window.cuentas = cuentas;
                                cuentas.forEach(function(cuenta) {
                                    options += '<option value="' + cuenta['numero'] + '">' + cuenta['numero'] + ' - ' + cuenta['nombreCuenta'] + '</option>';
                                });
                            }
                            $('#cuentas').html(options);
                        });
                    } else {
                        $('#cuentas').html('<option value="">-- Seleccionar --</option>');
                    }                    
                } else {
                    $('#cuentas').html('<option value="">-- Seleccionar --</option>');
                }
            });

            $('#servicios').on('click', function () {
                let codigo = $(this).val();
                if (codigo) {
                    $('#resumen-pago tbody').remove();
                    $('#resumen-pago').append('<tbody>');
                    $("#resumen-pago").find('tbody')
                        .append($('<tr>')
                            .append($('<td>')
                                .append('Pago Contado'))
                            .append($('<td>')
                                .append(window.servicios.find(function(servicio) { return servicio.codigo === $('#servicios').val(); }).saldoTotal))
                        )
                        .append($('<tr>')
                            .append($('<td>')
                                .append('Monto a Pagar'))
                            .append($('<td>')
                                .append(window.servicios.find(function(servicio) { return servicio.codigo === $('#servicios').val(); }).saldoTotal))
                        );
                } else {
                    $('#resumen-pago tbody').remove();
                }
            });
        })();
    </script>
}
